{% set pageTitle = "" %}
{% set pageMeta = "" %}
{% set pageURL = "" %}
{% set pageImg = "" %}

{% extends "_layout.html" %}

{% block content %}

<header class="masthead mentorship">
    <div class="fluid-container">
        <div class="row">
            <div class="container">
                <div class="hero-copy">
                    <h1>World Class Mentorship</h1>
                    <p>We take a hard look at the industries, interests, and skills of our servicemembers and veterans in order to align world class mentors from specific industries, backgrounds, and locations to provide game changing value.</p>
                </div>
            </div>
        </div>

    </div>
</header>

<section class="mentorship-intro pt pb">
        <div class="container">
    
            <div class="impact-copy">
                <h2>Mentors come from all industries and areas of expertise demonstrating humility, perseverance, understanding, and intelligence.</h2>
                <p>Mentors are fully engaged before, during and beyond veteran transitions. Some service members and veterans and mentors remain connected professionally for many years after their initial connection through COMMIT.</p>
            </div>
    
        </div>
    </section>

<section class="focus pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid"  src="img/commit-foundation_mentor_encouraging.jpg">   
            </div>
            <div class="col-lg-6">
                <div class="copy">
                    <h2 class="display-5">Encouraging. Knowledgeable. Exceptional.</h2>
                    <p>Leveraging our trusted network of successful professionals, staff and Board of Directors, past mentors, donors, and veteran alumni, It's COMMITs ability to create serendipity that creates an invaluable network that would otherwise not likely be available to servicemembers and veterans.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="strength pb pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-1">
                <div class="copy">
                    <h2 class="display-5">Honest. Authentic.</h2>
                    <p>COMMIT mentors go above and beyond to listen and challenge servicemembers and veterans with thoughtful, meaningful questions, and perspectives. Servicemembers and veterans can expect mentors to be candid in sharing their experiences, while encouraging servicemembers and veterans to be honest and vulnerable with themselves.</p>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <img class="img-fluid" src="img/commit-foundation_mentor_honest.jpg">   
            </div>
        </div>
    </div>
</section>


{% endblock %}