<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133170152-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-133170152-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:type" content="website"/>

    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src='https://embed.idonate.com/idonate.js'></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="https://use.typekit.net/cyn8pgk.css">
    <link title="timeline-styles" rel="stylesheet"
          href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
    <link rel="stylesheet" href="{{ siteUrl }}css/main-609a0956da.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css"/>

</head>

<body id="page-top" ontouchstart="">

{% include "parts/_header.twig" %}

<div class="main">
</div>

<section class="footer pb-sm-b">
    <div class="container desktop">
        <div class="secondary-wrapper">
            <div class="icon-wrapper">
                <a target="_blank" href="https://www.facebook.com/TheCommitFoundation"><img
                        src="{{ siteUrl }}/img/facebook-icon.svg"></a>
                <a target="_blank" href="https://twitter.com/COMMIT2Vets"><img
                        src="{{ siteUrl }}/img/twitter-icon.svg"></a>
                <a target="_blank"
                   href="https://www.linkedin.com/company/the-commit-foundation/"><img
                        src="{{ siteUrl }}/img/linkedin-icon.svg"></a>
                <a target="_blank" href="https://vimeo.com/user12302242"><img
                        src="{{ siteUrl }}/img/vimeo-icon.svg"></a>
                <a target="_blank" href="https://www.instagram.com/thecommitfoundation/"><img
                        src="{{ siteUrl }}/img/instagram-icon.svg"></a>
            </div>
            <a href="https://pursueyourpurpose.commitfoundation.org/account/createAccount"
               class="btn nav-apply-button left transparent mr-2">Apply</a>
            <a href="https://www.commitfoundation.org/donation" target="_blank"
               class="btn nav-apply-button">Donate</a>
        </div>
    </div>
    <div class="container desktop">
        <div class="main-wrapper">
            <div class="menu">
                <div class="contact">
                    <p>
                        The COMMIT Foundation<br>
                        280 West Kagy Blvd., Suite D 313<br>
                        Bozeman, MT 59715 US<br>
                    </p>
                    <p class="footer-link-p"><a class="footer-link" href="tel:5713061323">+1 571
                        306 1323</a></p>
                    <p class="footer-link-p"><a class="footer-link"
                                                href="mailto:info@commitfoundation.org">info@commitfoundation.org</a>
                    </p>
                </div>
                <div class="menu-list vets">
                    <h5>Veteran Programs</h5>
                    <ul>
                        <li>
                            <a href="/one-on-one">One-on-One Transition Assistance</a>
                        </li>
                        <li>
                            <a href="/digital-library">Digital Library</a>
                        </li>
                        <li>
                            <a href="/pursueyourpurpose">Pursue Your Purpose</a>
                        </li>
                        <li>
                            <a href="/transition-mentoring">Transition Mentoring Workshops</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list corp">
                    <h5>
                        <a href="/corporate-education">Corporate Education</a>
                    </h5>
                </div>
                <div class="menu-list about">
                    <h5>About</h5>
                    <ul>
                        <li>
                            <a href="/mission">Mission</a>
                        </li>
                        <li>
                            <a href="/team">Our Team</a>
                        </li>
                        <li>
                            <a href="/our-story">Our Story</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list support">
                    <h5>Support</h5>
                    <ul>
                        <li>
                            <a href="/our-mentors">Mentors</a>
                        </li>
                        <li>
                            <a href="/partners">Partners</a>
                        </li>
                        <li>
                            <a href="/donate">Donors</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list sub">
                    <ul>
                        <li>
                            <a href="/events">Events</a>
                        </li>
                        <li>
                            <a href="/news">News</a>
                        </li>
                        <li>
                            <a href="/reports">Reports</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li class="nav-item b-right">
                            <a class="nav-link-b" target="_blank"
                               href="https://commitfoundation.freshdesk.com/support/home">FAQ</a>
                        </li>
                        <li>
                            <a href="https://pursueyourpurpose.commitfoundation.org">Login</a>
                        </li>
                        <li>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms-of-use">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container desktop">
        <div class="donation-certificates">
            <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                <img class="certificate-logo" src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4"/>
            </a>
            <a href="https://www.charitynavigator.org/ein/455219311" target="_blank">
                <img class="certificate-logo" src="/img/logos/charity-navigator-logo.png"/>
            </a>
        </div>
    </div>


    <div class="container mobile">
        <div class="mobile-icon-wrapper">
            <a target="_blank" href="https://www.facebook.com/TheCommitFoundation"><img
                    src="{{ siteUrl }}/img/facebook-icon.svg"></a>
            <a target="_blank" href="https://twitter.com/COMMIT2Vets"><img
                    src="{{ siteUrl }}/img/twitter-icon.svg"></a>
            <a target="_blank"
               href="https://www.linkedin.com/company/the-commit-foundation/"><img
                    src="{{ siteUrl }}/img/linkedin-icon.svg"></a>
            <a target="_blank" href="https://vimeo.com/user12302242"><img
                    src="/img/vimeo-icon.svg"></a>
            <a target="_blank" href="https://www.instagram.com/thecommitfoundation/"><img
                    src="{{ siteUrl }}/img/instagram-icon.svg"></a>
        </div>

        <div class="contact">
            <p>
                The COMMIT Foundation<br>
                280 West Kagy Blvd., Suite D 313<br>
                Bozeman, MT 59715 US<br>
            </p>
            <p><a class="address" href="tel:5713061323">+1 571 306 1323</a></p>
            <p><a class="address"
                  href="mailto:info@commitfoundation.org">info@commitfoundation.org</a></p>
        </div>

        <ul id="accordion" class="accordion">
            <li>
                <div class="link">Veteran Programs<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/one-on-one">1:1 Assistance</a>
                    </li>
                    <li>
                        <a href="digital-library">Digital Library</a>
                    </li>
                    <li>
                        <a href="pursueyourpurpose">Pursue Your Purpose</a>
                    </li>
                    <li>
                        <a href="/transition-mentoring">Transition Mentoring</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="just-link" href="/corporate-education">Corporate Education</a>
            </li>
            <li>
                <div class="link">About<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/mission">Mission</a>
                    </li>
                    <li>
                        <a href="/team">Our Team</a>
                    </li>
                    <li>
                        <a href="/our-story">Our Story</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="link">Support Us<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/our-mentors">Mentors</a>
                    </li>
                    <li>
                        <a href="/partners">Partners</a>
                    </li>
                    <li>
                        <a href="/donate">Donors</a>
                    </li>
                    <li>
                        <a href="/2021-campaign">2021 Campaign</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="mobile-sub-links">
            <a href="/events">Events</a>
            <a href="/news">News</a>
            <a href="/reports">Reports</a>
            <a href="/contact">Contact</a>
            <a target="_blank"
               href="https://commitfoundation.freshdesk.com/support/home">FAQ</a>
            <a href="https://pursueyourpurpose.commitfoundation.org">Login</a>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/terms-of-use">Terms of Use</a>
        </div>

        <div class="donation-certificates">
            <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                <img class="certificate-logo" src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4"/>
            </a>
            <a href="https://www.charitynavigator.org/ein/455219311" target="_blank">
                <img class="certificate-logo" src="/img/logos/charity-navigator-logo.png"/>
            </a>
        </div>
    </div>
</section>

<script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="{{ siteUrl }}/js/rellax.js"></script>
<script src="https://unpkg.com/tilt.js@1.1.19/dest/tilt.jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="{{ siteUrl }}js/main.js"></script>
<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

</body>

</html>
