<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7RNYBDFP9T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-7RNYBDFP9T');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Contact Us</title>
    <meta name="keywords" content="Veterans, service members,
non-profit, transition, assistance, mentorship, professional, executive,
coaching, support, donate, workshops, one to one, skills, corporate, america,
united states, military, authentic, honest, transparent, civilian life, engage,
insights, digital library, video content, resources, misconceptions, information
gap, confidence gap, imagination gap, job, career, hiring">
    <meta name="description" content="Please get in touch for
inquiries about applying to a COMMIT workshop, donations, or partnerships.">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Contact Us"/>
    <meta property="og:url" content="https://www.commitfoundation.org/contact"/>
    <meta property="og:description" content="Please get in touch for
inquiries about applying to a COMMIT workshop, donations, or partnerships."/>
    <meta property="og:image" content="img/commit_og_share_.png"/>
    <meta property="og:type" content="website"/>

    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!--<script src='https://embed.idonate.com/idonate.js'></script>-->

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="https://use.typekit.net/cyn8pgk.css">
    <link title="timeline-styles" rel="stylesheet"
          href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
    <link rel="stylesheet" href="{{ siteUrl }}css/main-7eee4a133f.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css"/>

    <!-- Hotjar Tracking Code for https://www.commitfoundation.org/ -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {hjid: 2748073, hjsv: 6};
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>

<body id="page-top" ontouchstart="">

{% include "parts/_header.twig" %}

<div class="main">

    <header class="masthead-b events contact">
        <div class="fluid-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="hero-copy">
                            <h2 class="display-4">Contact Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="one-on-one-intro contact">
        <div class="fluid-container">
            <div class="row">
                <div class="col-lg-8"></div>
                <div class="col side-image"></div>
            </div>
            <div class="container">
                <div class="copy form">
                    <!-- Form in case is not tech issue -->
                    <form class="custom-form">
                        <div class="form-group">
                            <div class="input width">
                                <input
                                        id="name"
                                        type="text"
                                        class="form-control input-text name"
                                        id="pass"
                                        placeholder="First & last name"
                                        style="z-index: 5"
                                />
                                <label for="pass" class="input-label">First & last name</label>
                                <label for="pass" class="animated-label"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input width">
                                <input
                                        id="email"
                                        type="email"
                                        class="form-control input-text email"
                                        id="input"
                                        placeholder="Email"
                                        style="z-index: 5"
                                />
                                <label for="input" class="input-label">Email</label>
                                <label for="input" class="animated-label"></label>
                            </div>
                        </div>
                        <div class="form-group how-can-we-help-wrapper">
                            <div class="input width">
                                <select
                                        id="typeSelect"
                                        class="form-control dropdown"
                                        onchange="selectedDropdown()"
                                >
                                    <option
                                            value="0"
                                            disabled="disabled"
                                            selected="selected"
                                            hidden="hidden"
                                    >
                                        How can we help you?
                                    </option>
                                    <option>Veteran / service member transition</option>
                                    <option>Donations</option>
                                    <option>Corporate Partnerships</option>
                                    <option>Mentorship</option>
                                    <option>Technical Issue</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-area-label" for="formTextArea"
                            >Your Comment or question</label
                            >
                            <textarea
                                    id="comments"
                                    class="form-control text-area"
                                    id="formTextArea"
                                    rows="4"
                                    style="padding: 10px"
                            ></textarea>
                        </div>
                        <div class="submit-wrapper d-flex flex-wrap">
                            <div
                                    style="margin-right: 40px"
                                    class="g-recaptcha"
                                    data-callback="enableSubmit"
                                    data-sitekey="6Le9u4cUAAAAABVlwMIOi3Z7UZjiTOkotF39Ebj8"
                            ></div>
                            <button
                                    id="submitForm"
                                    type="submit"
                                    class="btn btn-red ml-auto align-self-center"
                            >
                                Submit
                            </button>
                        </div>
                    </form>

                    <!-- Form in case is tech issue (Create case in SF) -->
                    <form class="salesforce-contact-form" style="display: none">
                        <input
                                type="hidden"
                                id="orgid"
                                name="orgid"
                                value="00D61000000K9BB"
                        />
                        <input type="hidden" id="retURL" name="retURL" value="http://"/>

                        <div class="form-group">
                            <div class="input width">
                                <input
                                        id="tech-issue-name"
                                        name="name"
                                        type="text"
                                        maxlength="80"
                                        class="form-control input-text name"
                                        placeholder="First & last name"
                                        style="z-index: 5"
                                />
                                <label for="tech-issue-name" class="input-label"
                                >Contact Name</label
                                >
                                <label for="tech-issue-name" class="animated-label"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input width">
                                <input
                                        id="tech-issue-email"
                                        type="email"
                                        name="email"
                                        class="form-control input-text email"
                                        placeholder="Email"
                                        style="z-index: 5"
                                />
                                <label for="tech-issue-email" class="input-label">Email</label>
                                <label for="tech-issue-email" class="animated-label"></label>
                            </div>
                        </div>

                        <div class="form-group how-can-we-help-wrapper">
                            <div class="input width">
                                <select
                                        id="techIssueTypeSelect"
                                        class="form-control dropdown"
                                        onchange="selectedTechIssueDropdown()"
                                >
                                    <option value="0" disabled="disabled" hidden="hidden">
                                        How can we help you?
                                    </option>
                                    <option>Veteran / service member transition</option>
                                    <option>Donations</option>
                                    <option>Corporate Partnerships</option>
                                    <option>Corporate Programs</option>
                                    <option>Mentorship</option>
                                    <option selected="selected">Technical Issue</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input width">
                                <input
                                        id="subject"
                                        type="text"
                                        name="subject"
                                        maxlength="80"
                                        class="form-control input-text email"
                                        placeholder="Subject"
                                        style="z-index: 5"
                                />
                                <label for="subject" class="input-label">Subject</label>
                                <label for="subject" class="animated-label"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="text-area-label" for="formTextArea"
                            >Description</label
                            >
                            <textarea
                                    name="description"
                                    id="description"
                                    class="form-control text-area"
                                    id="formTextArea"
                                    rows="4"
                                    style="padding: 10px"
                            ></textarea>
                        </div>

                        <div class="submit-wrapper d-flex flex-wrap">
                            <div
                                    style="margin-right: 40px"
                                    class="g-recaptcha"
                                    data-callback="enableSubmitTechIssue"
                                    data-sitekey="6Le9u4cUAAAAABVlwMIOi3Z7UZjiTOkotF39Ebj8"
                            ></div>
                            <button
                                    name="submit"
                                    id="tech-issue-submitForm"
                                    type="submit"
                                    class="btn btn-red ml-auto align-self-center"
                            >
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <iframe
            id="salesforce"
            name="salesforce"
            src="about:blank"
            style="display: none"
    ></iframe>

    <script>
        function selectedDropdown() {
            var dropdownValue = $("#typeSelect").val();
            var name = String($("#name").val());
            var email = String($("#email").val());
            $("#tech-issue-name").val(name);
            $("#tech-issue-email").val(email);

            if (dropdownValue === "Technical Issue") {
                $("#techIssueTypeSelect").val(dropdownValue);

                $(".salesforce-contact-form").show();
                $(".custom-form").hide();
            }
        }

        function selectedTechIssueDropdown() {
            var dropdownValue = $("#techIssueTypeSelect").val();
            var techIssueName = String($("#tech-issue-name").val());
            var techIssueEmail = String($("#tech-issue-email").val());
            $("#name").val(techIssueName);
            $("#email").val(techIssueEmail);

            if (!(dropdownValue === "Technical Issue")) {
                console.log($(".salesforce-contact-form"));

                $("#typeSelect").val(dropdownValue);

                $(".custom-form").show();
                $(".salesforce-contact-form").hide();
            }
        }
    </script>
    <script type="text/javascript">
        $(".custom-form").submit(function (e) {
            e.preventDefault();
            var type = $("#typeSelect :selected").text().trim();
            var userAgent = navigator.userAgent;

            var name = String($("#name").val());
            var email = String($("#email").val());
            var comments = String($("#comments").val());

            if (
                name.length == 0 ||
                email.length == 0 ||
                comments.length == 0 ||
                type === "How can we help you?"
            ) {
                alert("Please fill out all form fields!");
            } else {
                var data = {
                    type: type,
                    name: name,
                    email: email,
                    comments: comments,
                    userAgent: userAgent,
                };
                alert("Thanks for getting in touch! We'll get back to you shortly.");

                $.post(
                    "https://q1eb6byi49.execute-api.us-east-1.amazonaws.com/v1/commitContactEmailer",
                    JSON.stringify(data),
                    // $.post("https://745q5i6nf2.execute-api.us-east-1.amazonaws.com/staging", JSON.stringify(data),
                    function (data, status) {
                        location.reload();
                    }
                );

                $("#name").val("");
                $("#email").val("");
                $("#comments").val("");
                $("#typeSelect").val(0);
            }
        });

        $(".salesforce-contact-form").submit(function (e) {
            e.preventDefault();
            var techIssueName = String($("#tech-issue-name").val());
            var techIssueEmail = String($("#tech-issue-email").val());
            var subject = String($("#subject").val());
            var description = String($("#description").val());

            var orgid = String($("#orgid").val());
            var retURL = String($("#retURL").val());

            if (
                techIssueName.length == 0 ||
                techIssueEmail.length == 0 ||
                subject.length == 0 ||
                description.length == 0
            ) {
                alert("Please fill out all form fields!");
            } else {
                alert("Thanks for getting in touch! We'll get back to you shortly.");
                webToLead(techIssueName, techIssueEmail, subject, description);

                $("#tech-issue-name").val("");
                $("#tech-issue-email").val("");
                $("#subject").val("");
                $("#description").val("");
            }

            return false;
        });

        function webToLead(name, email, subject, description) {
            const form = document.createElement("form");

            form.method = "POST";
            form.action =
                "https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8";
            form.target = "salesforce";

            form.appendChild(createHiddenInput("orgid", "00D61000000K9BB"));
            form.appendChild(createHiddenInput("retURL", "http://"));
            form.appendChild(createHiddenInput("name", name));
            form.appendChild(createHiddenInput("email", email));
            form.appendChild(createHiddenInput("subject", subject));
            form.appendChild(createHiddenInput("description", description));

            document.body.appendChild(form);

            form.submit();
        }

        function createHiddenInput(name, value) {
            const input = document.createElement("input");
            input.name = name;
            input.value = value;
            input.setAttribute("type", "hidden");
            return input;
        }

        function enableSubmit() {
            $("#submitForm").prop("disabled", false);
        }

        function enableSubmitTechIssue() {
            $("#tech-issue-submitForm").prop("disabled", false);
        }

    </script>

</div>

<section class="footer pb-sm-b">
    <div class="container desktop">
        <div class="secondary-wrapper">
            <div class="icon-wrapper">
                <a target="_blank" href="https://www.facebook.com/TheCommitFoundation"><img
                        src="{{ siteUrl }}/img/facebook-icon.svg"></a>
                <a target="_blank" href="https://twitter.com/COMMIT2Vets"><img
                        src="{{ siteUrl }}/img/twitter-icon.svg"></a>
                <a target="_blank" href="https://www.linkedin.com/company/the-commit-foundation/"><img
                        src="{{ siteUrl }}/img/linkedin-icon.svg"></a>
                <a target="_blank" href="https://vimeo.com/user12302242"><img
                        src="{{ siteUrl }}/img/vimeo-icon.svg"></a>
                <a target="_blank" href="https://www.instagram.com/thecommitfoundation/"><img
                        src="{{ siteUrl }}/img/instagram-icon.svg"></a>
                <a target="_blank" href="https://commitveteranvoices.buzzsprout.com/"><img
                        src="{{ siteUrl }}/img/CF_WebIcons_Podcast_Circle.svg"></a>
            </div>
            <a href="https://pursueyourpurpose.commitfoundation.org/account/createAccount"
               class="btn nav-apply-button left transparent mr-2">Apply</a>
            <a href="https://www.commitfoundation.org/donation" target="_blank"
               class="btn nav-apply-button">Donate</a>
        </div>
    </div>
    <div class="container desktop">
        <div class="main-wrapper">
            <div class="menu">
                <div class="contact">
                    <p>
                        The COMMIT Foundation<br>
                        280 West Kagy Blvd., Suite D 313<br>
                        Bozeman, MT 59715 US<br>
                    </p>
                    <p class="footer-link-p"><a class="footer-link" href="tel:5713061323">+1 571
                        306 1323</a></p>
                    <p class="footer-link-p"><a class="footer-link"
                                                href="mailto:info@commitfoundation.org">info@commitfoundation.org</a>
                    </p>
                    <p class="footer-link-p">CFC Number: 88085</p>
                </div>
                <div class="menu-list vets">
                    <h5>Veteran Programs</h5>
                    <ul>
                        <li>
                            <a href="/one-on-one">One-on-One Transition Assistance</a>
                        </li>
                        <li>
                            <a href="/digital-library">Digital Library</a>
                        </li>
                        <li>
                            <a href="/pursueyourpurpose">Pursue Your Purpose</a>
                        </li>
                        <li>
                            <a href="/transition-mentoring">Transition Mentoring Workshops</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list family">
                    <h5>Family Programs</h5>
                    <ul>
                        <li>
                            <a href="/spouse-program">Spouse Program</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list about">
                    <h5>About</h5>
                    <ul>
                        <li>
                            <a href="/mission">Mission</a>
                        </li>
                        <li>
                            <a href="/team">Our Team</a>
                        </li>
                        <li>
                            <a href="/financials">Financials</a>
                        </li>
                        <!-- <li>
                            <a href="/our-story">Our Story</a>
                        </li> -->
                    </ul>
                </div>
                <div class="menu-list support">
                    <h5>Support</h5>
                    <ul>
                        <li>
                            <a href="/our-mentors">Mentors</a>
                        </li>
                        <li>
                            <a href="/partners">Partners</a>
                        </li>
                        <li>
                            <a href="/donate">Donors</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list sub">
                    <ul>
                        <li>
                            <a href="/events">Events</a>
                        </li>
                        <li>
                            <a href="/news">News</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li class="nav-item b-right">
                            <a class="nav-link-b" href="/faq">FAQ</a>
                        </li>
                        <li>
                            <a href="https://pursueyourpurpose.commitfoundation.org">Login</a>
                        </li>
                        <li>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms-of-use">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container desktop">
        <div class="donation-certificates">
            <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                <img class="certificate-logo" src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4"/>
            </a>
            <a href="https://www.charitynavigator.org/ein/455219311" target="_blank">
                <img class="certificate-logo" src="/img/logos/charity-navigator-logo.png"/>
            </a>
            <a href="https://greatnonprofits.org/org/the-commit-foundation" target="_blank">
                <img class="certificate-logo great-nonprofit-logo" src="/img/logos/Great_Nonprofit_Badge.png"/>
            </a>
            <a href="/donate#CFC-container">
                <img class="certificate-logo" src="/img/CFC_logo_round.png"/>
            </a>
        </div>
    </div>


    <div class="container mobile">
        <div class="mobile-icon-wrapper">
            <a target="_blank" href="https://www.facebook.com/TheCommitFoundation"><img
                    src="{{ siteUrl }}/img/facebook-icon.svg"></a>
            <a target="_blank" href="https://twitter.com/COMMIT2Vets"><img
                    src="{{ siteUrl }}/img/twitter-icon.svg"></a>
            <a target="_blank" href="https://www.linkedin.com/company/the-commit-foundation/"><img
                    src="{{ siteUrl }}/img/linkedin-icon.svg"></a>
            <a target="_blank" href="https://vimeo.com/user12302242"><img src="/img/vimeo-icon.svg"></a>
            <a target="_blank" href="https://www.instagram.com/thecommitfoundation/"><img
                    src="{{ siteUrl }}/img/instagram-icon.svg"></a>
            <a target="_blank" href="https://commitveteranvoices.buzzsprout.com/"><img
                    src="{{ siteUrl }}/img/CF_WebIcons_Podcast_Circle.svg"></a>
        </div>

        <div class="contact">
            <p>
                The COMMIT Foundation<br>
                280 West Kagy Blvd., Suite D 313<br>
                Bozeman, MT 59715 US<br>
            </p>
            <p><a class="address" href="tel:5713061323">+1 571 306 1323</a></p>
            <p><a class="address" href="mailto:info@commitfoundation.org">info@commitfoundation.org</a></p>
            <p>CFC Number: 88085</p>
        </div>

        <ul id="accordion" class="accordion">
            <li>
                <div class="link">Veteran Programs<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/one-on-one">1:1 Assistance</a>
                    </li>
                    <li>
                        <a href="digital-library">Digital Library</a>
                    </li>
                    <li>
                        <a href="pursueyourpurpose">Pursue Your Purpose</a>
                    </li>
                    <li>
                        <a href="/transition-mentoring">Transition Mentoring</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="link">Family Programs<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/spouse-program">Spouse Program</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="just-link" href="/corporate-programs">Corporate Programs</a>
            </li>
            <li>
                <div class="link">About<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/mission">Mission</a>
                    </li>
                    <li>
                        <a href="/team">Our Team</a>
                    </li>
                    <li>
                        <a href="/financials">Financials</a>
                    </li>
                    <!-- <li>
                        <a href="/our-story">Our Story</a>
                    </li> -->
                </ul>
            </li>
            <li>
                <div class="link">Support Us<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/our-mentors">Mentors</a>
                    </li>
                    <li>
                        <a href="/partners">Partners</a>
                    </li>
                    <li>
                        <a href="/donate">Donors</a>
                    </li>
                    <!-- <li>
                        <a href="/2021-campaign">2021 Campaign</a>
                    </li> -->
                </ul>
            </li>
        </ul>

        <div class="mobile-sub-links">
            <a href="/events">Events</a>
            <a href="/news">News</a>
            <a href="/contact">Contact</a>
            <a href="/faq">FAQ</a>
            <a href="https://pursueyourpurpose.commitfoundation.org">Login</a>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/terms-of-use">Terms of Use</a>
        </div>

        <div class="donation-certificates">
            <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                <img class="certificate-logo" src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4"/>
            </a>
            <a href="https://www.charitynavigator.org/ein/455219311" target="_blank">
                <img class="certificate-logo" src="/img/logos/charity-navigator-logo.png"/>
            </a>
            <a href="https://greatnonprofits.org/org/the-commit-foundation" target="_blank">
                <img class="certificate-logo great-nonprofit-logo" src="/img/logos/Great_Nonprofit_Badge.png"/>
            </a>
            <a href="/donate#CFC-container">
                <img class="certificate-logo" src="/img/CFC_logo_round.png"/>
            </a>
        </div>
    </div>
</section>

<script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="{{ siteUrl }}/js/rellax.js"></script>
<script src="https://unpkg.com/tilt.js@1.1.19/dest/tilt.jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="{{ siteUrl }}js/main.js"></script>
<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

</body>

</html>