<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7RNYBDFP9T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-7RNYBDFP9T');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Support Our Post 9-11 Veterans</title>
    <meta name="keywords"
          content="Veterans, service members, non-profit, transition, assistance, mentorship, professional, executive, coaching, support, donate, workshops, one to one, skills, corporate, america, united states, military, authentic, honest, transparent, civilian life, engage, insights, digital library, video content, resources, misconceptions, information gap, confidence gap, imagination gap, job, career, hiring">
    <meta name="description"
          content="Our veterans are fueled by invaluable support from friends, passionate citizens, and advocates of military veterans and their families.">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Support Our Post 9-11 Veterans"/>
    <meta property="og:url" content="https://www.commitfoundation.org/donate"/>
    <meta property="og:description"
          content="Our veterans are fueled by invaluable support from friends, passionate citizens, and advocates of military veterans and their families."/>
    <meta property="og:image" content="img/commit_og_share_.png"/>
    <meta property="og:type" content="website"/>

    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!--<script src='https://embed.idonate.com/idonate.js'></script>-->

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="https://use.typekit.net/cyn8pgk.css">
    <link title="timeline-styles" rel="stylesheet"
          href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
    <link rel="stylesheet" href="{{ siteUrl }}css/main-7eee4a133f.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css"/>

    <!-- Hotjar Tracking Code for https://www.commitfoundation.org/ -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {hjid: 2748073, hjsv: 6};
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>

<body id="page-top" ontouchstart="">

{% include "parts/_header.twig" %}

<div class="main">

    <header class="masthead donate">
        <div class="fluid-container">
            <div class="row">
                <div class="container">
                    <div class="hero-copy">
                        <h1>{{ entry.donateBannerMessage }}</h1>
                        <p>{{ entry.donateBannerBody }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col">
                    <a target="_blank" href="https://www.commitfoundation.org/donation"
                       class="btn apply-button-wrapper donate">
                        <img class="icon" src="img/donate-icon.svg">
                        <div class="apply-button-copy">
                            Donate
                        </div>
                        <img class="apply-button-arrow" src="img/right-arrow.svg">
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- <section class="testimonial pb pt">
        <div class="container">
            <img class="quotation-icon" src="img/quotation-red.svg" alt="icon">
            <img class="quote-slider-controls d-none d-lg-block" src="img/quote-slider-controls.svg">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum, tortor et cursus suscipit, justo augue rhoncus dui, vulputate interdum purus lorem vel arcu. Quisque urna ligula, condimentum eget viverra id.</h4>
            <p>Jon Doe, Manager</p>
            <img class="quote-mobile-slider-controls d-md-block d-lg-none" src="img/mobile-quote-slider-controls.svg">
        </div>
    </section> -->

    <section class="testimonial pb pt">
        <div class="container">
            <img class="quotation-icon" src="img/quotation-red.svg" alt="icon">
            <div class="quote-slider-controls d-none d-lg-block">
                <div id="web-dots">
                    <span class="web-dot"></span>
                    <span class="web-dot"></span>
                    <span class="web-dot"></span>
                </div>
                <div>
                    <svg height="50" width="50">
                        <circle id="testemonial-circle" class="progress-circle" cx="25" cy="25" r="20" fill="freeze"/>
                    </svg>
                    <div class="background-circle">
                        <img id="testemonial-home-controls" class="testemonial-control-icon"
                             src="img/Pause_Commit_dark.png" alt="">
                    </div>
                </div>
            </div>
            <div id="testimonials">
                {% for testimonial in entry.donateTestimonials %}
                <div class="testimonial-item{% if loop.first %} testimonial-item-active{% endif %}">
                    <h4>{{ testimonial.quote }}</h4>
                    <p>{{ testimonial.author }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="quote-mobile-slider-controls d-md-block d-lg-none">
                <div id="mobile-dots">
                    <span class="mobile-dot"></span>
                    <span class="mobile-dot"></span>
                    <span class="mobile-dot"></span>
                </div>
            </div>
        </div>
    </section>

    <section class="tailored-programs bullet-section pt pb">
        <div class="container">
            <div class="row margin">
                <div class="col-md-5">
                    <h2 class="display-5">{{ entry.donateHeader1 }}</h2>
                    <hr data-aos="grow-c">
                    <div style="display: flex; flex-direction: row; justify-content: flex-start;">
                        <div class="donate-logo-container first-column">
                            <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                                <img class="guidstar-logo desktop"
                                     src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4">
                            </a>
                        </div>
                        <div class="donate-logo-container">
                            <a href="https://www.charitynavigator.org/ein/455219311" target="_blank">
                                <img class="guidstar-logo desktop" src="/img/logos/charity-navigator-logo.png">
                            </a>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: flex-start;">
                        <div class="donate-logo-container first-column">
                            <a href="https://greatnonprofits.org/org/the-commit-foundation">
                                <img class="guidstar-logo desktop great-nonprofit-logo"
                                     src="/img/logos/Great_Nonprofit_Badge.png"/>
                            </a>
                        </div>
                        <div class="donate-logo-container">
                            <a href="#CFC-container">
                                <img class="guidstar-logo desktop" src="/img/CFC_logo_round.png"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">

                    <ul>
                        {% for bullets in entry.donateHeader1Bullets %}
                        <li>
                            <p>{{ bullets.bulletBody }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="link-wrapper">
                        {% set document = entry.donateCtaFile.first() %}
                        <a class="red" href="{{ document.url }}" target="_blank">Download 501 (c) (3) Designation
                            Letter</a>
                    </div>
                    <div style="display: flex; flex-wrap: wrap; justify-content: space-around; margin: 15px;">
                        <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                            <img class="guidstar-logo mobile"
                                 src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4">
                        </a>
                        <a href="https://www.charitynavigator.org/ein/455219311" target="_blank">
                            <img class="guidstar-logo mobile" src="/img/logos/charity-navigator-logo.png">
                        </a>
                        <a href="https://greatnonprofits.org/org/the-commit-foundation">
                            <img class="guidstar-logo mobile great-nonprofit-logo"
                                 src="/img/logos/Great_Nonprofit_Badge.png"/>
                        </a>
                        <a href="#CFC-container">
                            <img class="guidstar-logo mobile" src="/img/CFC_logo_round.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="donate-cards-b">

        <div class="container pt pb">
            <h2 class="display-5">{{ entry.donateHeader2 }}</h2>

            <div class="row">
                <div class="col-md-4">
                    <div class="card-wrapper">
                        <div id="underline" class="card">
                            <div class="card-thumb"
                                 style="background-image: url('img/commit-foundation_donate_100.jpg')"></div>
                            <div class="card-body">
                                <h4 class="card-dollar">{{ entry.amountToDonate1 }}</h4>
                                <p class="card-title">Every Dollar Helps a Veteran</p>
                                <p class="card-copy">{{ entry.donate250Description }}</p>
                                <a class="card-link red" target="_blank"
                                   href="{{ entry.customGiftAmountUrl1}}">Donate</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card-wrapper">
                        <div id="underline" class="card">
                            <div class="card-thumb"
                                 style="background-image: url('img/commit-foundation_donate_500.jpg')"></div>
                            <div class="card-body">
                                <h4 class="card-dollar">{{ entry.amountToDonate2 }}</h4>
                                <p class="card-title">Executive Career Coaching</p>
                                <p class="card-copy">{{ entry.donate600Description }}</p>
                                <a class="card-link red" target="_blank"
                                   href="{{ entry.customGiftAmountUrl2}}">Donate</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card-wrapper">
                        <div id="underline" class="card">
                            <div class="card-thumb"
                                 style="background-image: url('img/commit-foundation_donate_2500.jpg')"></div>
                            <div class="card-body">
                                <h4 class="card-dollar">{{ entry.amountToDonate3 }}</h4>
                                <p class="card-title">Transition Mentoring Workshops</p>
                                <p class="card-copy">{{ entry.donate25000Description }}</p>
                                <a class="card-link red" target="_blank"
                                   href="{{ entry.customGiftAmountUrl3}}">Donate</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card-wrapper">
                        <div class="cta-card">
                            <div class="cta-card-body">
                                <div class="row">
                                    <div class="col-md-4 flex-row">
                                        <h4>Contact Us</h4>
                                    </div>
                                    <div class="col-md-5 flex-col">
                                        <p class="cta-card-title">Large Monetary or In-Kind Donations</p>
                                        <p class="cta-card-copy">{{ entry.donateLargeMonetaryDescription }}</p>
                                    </div>
                                    <div class="col-md-3 flex-row">
                                        <a class="card-link red d-none" href="/contact">Contact Us</a>
                                        <img class="forward-chevron" src="/img/forward-chevron.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12" id="CFC-container">
                    <div class="card-wrapper">
                        <div class="cta-card">
                            <div class="cta-card-body">
                                <div class="row">
                                    <div class="col-md-4 flex-row cfc-logo-container">
                                        <img class="cfc-logo" src="img/CFC_logo_rectangle.jpg"/>
                                    </div>
                                    <div class="col-md-5 flex-col">
                                        <p class="cta-card-title">{{ entry.cfcTitle }}</p>
                                        <p class="cta-card-copy">{{ entry.cfcDescription }}</p>
                                    </div>
                                    <div class="col-md-3 flex-row">
                                        <a class="card-link red d-none" href="{{ entry.cfcLink }}">Contact Us</a>
                                        <img class="forward-chevron" src="/img/forward-chevron.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="survey">
        <div class="container pt pb">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="display-5">Program Participant Survey Results</h2>
                    <div class="result-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="600">
                        <h4>Over
                            <span class="number">{{ entry.surveyResult1Percentage }}</span><span
                                    class="percent">%</span></h4>
                        <p>{{ entry.surveyResult1Body }}</p>
                    </div>
                    <div class="result-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="1200">
                        <h4>Over
                            <span class="number">{{ entry.surveyResult2Percentage }}</span><span
                                    class="percent">%</span></h4>
                        <p>{{ entry.surveyResult2Body }}</p>
                    </div>
                </div>
                <div class="col-md-6 off-set">
                    <div class="result-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300">
                        <h4>Over
                            <span class="number">{{ entry.surveyResult3Percentage }}</span><span
                                    class="percent">%</span></h4>
                        <p>{{ entry.surveyResult3Body }}</p>
                    </div>
                    <div class="result-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="900">
                        <h4>Over
                            <span class="number">{{ entry.surveyResult4Percentage }}</span><span
                                    class="percent">%</span></h4>
                        <p>{{ entry.surveyResult4Body }}</p>
                    </div>
                    <p class="sub-text">*Surveys are conducted following completion of a COMMIT program and are focused
                        on the “3 Gaps” Veterans face as they transition</p>
                </div>
            </div>
        </div>
    </section>

    <section class="why-commit">
        <div class="container pb pt">
            <h2 class="display-5">Why Commit?</h2>
            <div class="circle-wrapper">
                <div class="mobile-circle">
                    <img src="/img/mobile-commit-circle.svg">
                </div>
                <div class="box1">
                    <h4>Renew Perspective</h4>
                    <p>COMMIT believes you can change someone’s perspective and thus their trajectory in a few minutes
                        of quality dialogue.</p>
                </div>
                <div class="box2">
                    <h4>Quality Over Quantity</h4>
                    <p>COMMIT seeks to provide high impact transition services by designing programs that give the
                        greatest value to each veteran we serve.</p>
                </div>
                <div class="box3">
                    <h4>Invest In Those With The Greatest Potential</h4>
                    <p>COMMIT believes we do a disservice to our Nation by not investing in those that add the most
                        value.</p>
                </div>
                <div class="box4">
                    <h4>Change The Narrative And Challenge Assumptions</h4>
                    <p>COMMIT recognizes high value service members and veterans are often overlooked from a services
                        standpoint because people think they don’t need help.</p>
                </div>
                <div class="circle">
                    <img src="/img/commit-circle.svg">
                </div>
            </div>
        </div>
    </section>

    <section class="donate-other">
        <div class="container pt pb">
            <h2 class="display-5">{{ entry.donateOtherAmountTitle }}</h2>
            <p>{{ entry.donateOtherAmountSubtitle }}</p>

            <div class="donation-give-smart-container">
                <iframe id="mc-donation"
                        src="https://fundraise.givesmart.com/form/{{ entry.donateGiveSmartFormId }}?utm_source=embed&utm_medium=page&utm_campaign=donation"
                        width="100%" height="1795" overflow="scroll" onLoad="window.scrollTo(0,0);"></iframe>
            </div>

        </div>
    </section>

</div>

<section class="footer pb-sm-b">
    <div class="container desktop">
        <div class="secondary-wrapper">
            <div class="icon-wrapper">
                <a target="_blank" href="https://www.facebook.com/TheCommitFoundation"><img
                        src="{{ siteUrl }}/img/facebook-icon.svg"></a>
                <a target="_blank" href="https://twitter.com/COMMIT2Vets"><img
                        src="{{ siteUrl }}/img/twitter-icon.svg"></a>
                <a target="_blank" href="https://www.linkedin.com/company/the-commit-foundation/"><img
                        src="{{ siteUrl }}/img/linkedin-icon.svg"></a>
                <a target="_blank" href="https://vimeo.com/user12302242"><img
                        src="{{ siteUrl }}/img/vimeo-icon.svg"></a>
                <a target="_blank" href="https://www.instagram.com/thecommitfoundation/"><img
                        src="{{ siteUrl }}/img/instagram-icon.svg"></a>
                <a target="_blank" href="https://commitveteranvoices.buzzsprout.com/"><img
                        src="{{ siteUrl }}/img/CF_WebIcons_Podcast_Circle.svg"></a>
            </div>
            <a href="https://pursueyourpurpose.commitfoundation.org/account/createAccount"
               class="btn nav-apply-button left transparent mr-2">Apply</a>
            <a href="https://www.commitfoundation.org/donation" target="_blank"
               class="btn nav-apply-button">Donate</a>
        </div>
    </div>
    <div class="container desktop">
        <div class="main-wrapper">
            <div class="menu">
                <div class="contact">
                    <p>
                        The COMMIT Foundation<br>
                        280 West Kagy Blvd., Suite D 313<br>
                        Bozeman, MT 59715 US<br>
                    </p>
                    <p class="footer-link-p"><a class="footer-link" href="tel:5713061323">+1 571
                        306 1323</a></p>
                    <p class="footer-link-p"><a class="footer-link"
                                                href="mailto:info@commitfoundation.org">info@commitfoundation.org</a>
                    </p>
                    <p class="footer-link-p">CFC Number: 88085</p>
                </div>
                <div class="menu-list vets">
                    <h5>Veteran Programs</h5>
                    <ul>
                        <li>
                            <a href="/one-on-one">One-on-One Transition Assistance</a>
                        </li>
                        <li>
                            <a href="/digital-library">Digital Library</a>
                        </li>
                        <li>
                            <a href="/pursueyourpurpose">Pursue Your Purpose</a>
                        </li>
                        <li>
                            <a href="/transition-mentoring">Transition Mentoring Workshops</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list family">
                    <h5>Family Programs</h5>
                    <ul>
                        <li>
                            <a href="/spouse-program">Spouse Program</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list about">
                    <h5>About</h5>
                    <ul>
                        <li>
                            <a href="/mission">Mission</a>
                        </li>
                        <li>
                            <a href="/team">Our Team</a>
                        </li>
                        <li>
                            <a href="/financials">Financials</a>
                        </li>
                        <!-- <li>
                            <a href="/our-story">Our Story</a>
                        </li> -->
                    </ul>
                </div>
                <div class="menu-list support">
                    <h5>Support</h5>
                    <ul>
                        <li>
                            <a href="/our-mentors">Mentors</a>
                        </li>
                        <li>
                            <a href="/partners">Partners</a>
                        </li>
                        <li>
                            <a href="/donate">Donors</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list sub">
                    <ul>
                        <li>
                            <a href="/events">Events</a>
                        </li>
                        <li>
                            <a href="/news">News</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li class="nav-item b-right">
                            <a class="nav-link-b" href="/faq">FAQ</a>
                        </li>
                        <li>
                            <a href="https://pursueyourpurpose.commitfoundation.org">Login</a>
                        </li>
                        <li>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms-of-use">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container desktop">
        <div class="donation-certificates">
            <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                <img class="certificate-logo" src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4"/>
            </a>
            <a href="https://www.charitynavigator.org/ein/455219311" target="_blank">
                <img class="certificate-logo" src="/img/logos/charity-navigator-logo.png"/>
            </a>
            <a href="https://greatnonprofits.org/org/the-commit-foundation" target="_blank">
                <img class="certificate-logo great-nonprofit-logo" src="/img/logos/Great_Nonprofit_Badge.png"/>
            </a>
            <a href="/donate#CFC-container">
                <img class="certificate-logo" src="/img/CFC_logo_round.png"/>
            </a>
        </div>
    </div>


    <div class="container mobile">
        <div class="mobile-icon-wrapper">
            <a target="_blank" href="https://www.facebook.com/TheCommitFoundation"><img
                    src="{{ siteUrl }}/img/facebook-icon.svg"></a>
            <a target="_blank" href="https://twitter.com/COMMIT2Vets"><img
                    src="{{ siteUrl }}/img/twitter-icon.svg"></a>
            <a target="_blank" href="https://www.linkedin.com/company/the-commit-foundation/"><img
                    src="{{ siteUrl }}/img/linkedin-icon.svg"></a>
            <a target="_blank" href="https://vimeo.com/user12302242"><img src="/img/vimeo-icon.svg"></a>
            <a target="_blank" href="https://www.instagram.com/thecommitfoundation/"><img
                    src="{{ siteUrl }}/img/instagram-icon.svg"></a>
            <a target="_blank" href="https://commitveteranvoices.buzzsprout.com/"><img
                    src="{{ siteUrl }}/img/CF_WebIcons_Podcast_Circle.svg"></a>
        </div>

        <div class="contact">
            <p>
                The COMMIT Foundation<br>
                280 West Kagy Blvd., Suite D 313<br>
                Bozeman, MT 59715 US<br>
            </p>
            <p><a class="address" href="tel:5713061323">+1 571 306 1323</a></p>
            <p><a class="address" href="mailto:info@commitfoundation.org">info@commitfoundation.org</a></p>
            <p>CFC Number: 88085</p>
        </div>

        <ul id="accordion" class="accordion">
            <li>
                <div class="link">Veteran Programs<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/one-on-one">1:1 Assistance</a>
                    </li>
                    <li>
                        <a href="digital-library">Digital Library</a>
                    </li>
                    <li>
                        <a href="pursueyourpurpose">Pursue Your Purpose</a>
                    </li>
                    <li>
                        <a href="/transition-mentoring">Transition Mentoring</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="link">Family Programs<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/spouse-program">Spouse Program</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="just-link" href="/corporate-programs">Corporate Programs</a>
            </li>
            <li>
                <div class="link">About<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/mission">Mission</a>
                    </li>
                    <li>
                        <a href="/team">Our Team</a>
                    </li>
                    <li>
                        <a href="/financials">Financials</a>
                    </li>
                    <!-- <li>
                        <a href="/our-story">Our Story</a>
                    </li> -->
                </ul>
            </li>
            <li>
                <div class="link">Support Us<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/our-mentors">Mentors</a>
                    </li>
                    <li>
                        <a href="/partners">Partners</a>
                    </li>
                    <li>
                        <a href="/donate">Donors</a>
                    </li>
                    <!-- <li>
                        <a href="/2021-campaign">2021 Campaign</a>
                    </li> -->
                </ul>
            </li>
        </ul>

        <div class="mobile-sub-links">
            <a href="/events">Events</a>
            <a href="/news">News</a>
            <a href="/contact">Contact</a>
            <a href="/faq">FAQ</a>
            <a href="https://pursueyourpurpose.commitfoundation.org">Login</a>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/terms-of-use">Terms of Use</a>
        </div>

        <div class="donation-certificates">
            <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                <img class="certificate-logo" src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4"/>
            </a>
            <a href="https://www.charitynavigator.org/ein/455219311" target="_blank">
                <img class="certificate-logo" src="/img/logos/charity-navigator-logo.png"/>
            </a>
            <a href="https://greatnonprofits.org/org/the-commit-foundation" target="_blank">
                <img class="certificate-logo great-nonprofit-logo" src="/img/logos/Great_Nonprofit_Badge.png"/>
            </a>
            <a href="/donate#CFC-container">
                <img class="certificate-logo" src="/img/CFC_logo_round.png"/>
            </a>
        </div>
    </div>
</section>

<script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="{{ siteUrl }}/js/rellax.js"></script>
<script src="https://unpkg.com/tilt.js@1.1.19/dest/tilt.jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="{{ siteUrl }}js/main.js"></script>
<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

</body>

</html>