<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7RNYBDFP9T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-7RNYBDFP9T');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>One-on-One Transition Assistance</title>
    <meta name="keywords"
          content="Veterans, service members, non-profit, transition, assistance, mentorship, professional, executive, coaching, support, donate, workshops, one to one, skills, corporate, america, united states, military, authentic, honest, transparent, civilian life, engage, insights, digital library, video content, resources, misconceptions, information gap, confidence gap, imagination gap, job, career, hiring">
    <meta name="description"
          content="COMMIT meets you right where you are in transition to create highly tailored veteran-mentor relationships. Let's ensure your first steps out of the military are individualized and better informed.">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="One-on-One Transition Assistance"/>
    <meta property="og:url" content="https://www.commitfoundation.org/one-on-one"/>
    <meta property="og:description"
          content="COMMIT meets you right where you are in transition to create highly tailored veteran-mentor relationships. Let's ensure your first steps out of the military are individualized and better informed."/>
    <meta property="og:image" content="img/commit_og_share_.png"/>
    <meta property="og:type" content="website"/>

    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!--<script src='https://embed.idonate.com/idonate.js'></script>-->

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="https://use.typekit.net/cyn8pgk.css">
    <link title="timeline-styles" rel="stylesheet"
          href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
    <link rel="stylesheet" href="{{ siteUrl }}css/main-7eee4a133f.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css"/>

    <!-- Hotjar Tracking Code for https://www.commitfoundation.org/ -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {hjid: 2748073, hjsv: 6};
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>

<body id="page-top" ontouchstart="">

{% include "parts/_header.twig" %}

<div class="main">

    <header class="masthead one-on-one">
        <div class="fluid-container">
            <div class="row">
                <div class="container">
                    <div class="hero-copy">
                        <h1>{{ entry.transitionAssistanceBannerMessage }}</h1>
                        <p>{{ entry.transitionAssistanceBannerBody }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col">
                    <a href="https://pursueyourpurpose.commitfoundation.org/account/createAccount"
                       class="btn apply-button-wrapper">
                        <img class="icon" src="img/apply-icon.svg">
                        <div class="apply-button-copy">
                            Apply
                        </div>
                        <img class="apply-button-arrow" src="img/right-arrow.svg">
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section class="one-on-one-intro">
        <div class="fluid-container">
            <div class="row">
                <div class="col-lg-8"></div>
                <div class="col side-image"
                     style="background-image: url(/img/commit-foundation_one-to-one_engaged.jpg);">
                    <!-- Desktop -->
                    <hr data-aos="grow-a">
                </div>
            </div>
            <div class="container">
                <div class="copy">
                    <h2 class="display-6">{{ entry.transitionAssistanceHeader1 }}</h2>
                    <hr data-aos="grow-c">
                </div>
            </div>
            <img class="img-fluid side-image-mobile"
                 alt="A highly individualized approach with a highly experienced executive coach using techniques to engage, identify, and resolve specific needs of a transitioning veteran."
                 src="img/commit-foundation_one-to-one_engaged.jpg">
            <!-- Mobile -->
        </div>
    </section>

    <section class="tailored-programs one-on-one pt pb">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="display-5">{{ entry.transitionAssistanceHeader2 }}</h2>
                    <p>{{ entry.transitionAssistanceHeader2Body }}</p>
                </div>
                <div class="col d-inline-flex">
                    <img src="img/vertical-rule.svg" data-aos="fade-down">
                    <ul class="d-flex flex-column justify-content-center">
                        {% for program in entry.transitionAssistanceProgram %}
                        <li>
                            <a href="{{ program.programUrl }}">
                                {{ program.programName }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial one-on-one pb pt mobile-remove">
        <div class="container">
            <img class="quotation-icon" src="img/quotation-red.svg" alt="icon">
            <div class="quote-slider-controls d-none d-lg-block">
                <div id="web-dots">
                    <span class="web-dot"></span>
                    <span class="web-dot"></span>
                    <span class="web-dot"></span>
                </div>
                <div>
                    <svg height="50" width="50">
                        <circle id="testemonial-circle" class="progress-circle" cx="25" cy="25" r="20"
                                fill="freeze"/>
                    </svg>
                    <div class="background-circle">
                        <img id="testemonial-home-controls" class="testemonial-control-icon"
                             src="img/Pause_Commit_dark.png" alt="">
                    </div>
                </div>
            </div>
            <div id="testimonials">
                {% for testimonial in entry.transitionAssistanceTestimonialCarrousel %}
                <div
                        class="testimonial-item{% if loop.first %} testimonial-item-active{% endif %}">
                    <h4>{{ testimonial.testimonialQuote }}</h4>
                    <p>{{ testimonial.testimonialAuthor }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="quote-mobile-slider-controls d-md-block d-lg-none">
                <div id="mobile-dots">
                    <span class="mobile-dot"></span>
                    <span class="mobile-dot"></span>
                    <span class="mobile-dot"></span>
                </div>
            </div>
        </div>
    </section>

    <section class="apply-card one-on-one pb">
        <div class="container apply-card">
            <div class="row">
                <div class="col-12">
                    <div class="card-wrapper">
                        <div class="cta-card">
                            <a href="https://pursueyourpurpose.commitfoundation.org/account/createAccount"
                               style="color: inherit;">
                                <div class="cta-card-body">
                                    <div class="row">
                                        <div class="col-md-4 flex-row">
                                            <h4>Apply</h4>
                                        </div>
                                        <div class="col-md-5 flex-col">
                                            <p class="cta-card-copy">{{ entry.transitionAssistanceApplyCard }}</p>
                                        </div>
                                        <div class="col-md-3 flex-row">
                                            <img class="forward-chevron" src="/img/forward-chevron.svg">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="focus">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid rellax-a"
                         alt="COMMIT focuses on quality over quantity through small touch, high impact work. After identifying your strengths and skills, begin focusing your career choices at the convergence of passion, expertise, and geography to capitalize on new opportunities."
                         src="img/commit-foundation_one-to-one_career-choices.jpg">
                </div>
                <div class="col-lg-6">
                    <div class="copy">
                        <h2 class="display-5">{{ entry.transitionAssistanceHeader3 }}</h2>
                        <p>{{ entry.transitionAssistanceHeader3Body }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="strength pb pt">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-1">
                    <div class="copy">
                        <h2 class="display-5">{{ entry.transitionAssistanceHeader4 }}</h2>
                        <p>{{ entry.transitionAssistanceHeader4Body }}</p>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <img class="img-fluid rellax-a"
                         alt="Assistance comes in various forms, including skills assessments, resume assistance, career or executive coaching, professional mentorship, and other professional development opportunities specific to you. COMMIT’s approach is built on individual needs, including both hard and soft skill personal development."
                         src="img/commit-foundation_one-to-one_skills.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="information-cards one-on-one d-flex flex-column justify-content-center pb pt">
        <div class="information-cards-description-container">
            <h2>{{ entry.informationCardsDescriptionText }}</h2>
            <p>{{ entry.informationCardsDescriptionSubtext }}</p>
        </div>

        <div class="container information-cards-wrapper">
            <div class="row">
                {% for card in entry.transitionAssistanceInformationCards %}
                <div id="underline" class="col-md-4 information-card">
                    <div class="card-wrapper {% if card.informationUrl is not null %}{{ 'learn-more' }}{% endif %}">
                        {% set informationImage = card.informationImage.first() %}
                        <div class="card-thumb" style="background-image: url('{{ informationImage.url }}')"></div>
                        <div class="card-body d-flex flex-column justify-content-around pt-0 px-0">
                            <h4 class="card-title">{{ card.informationTitle }}</h4>
                            <p class="card-description">{{ card.informationDescription }}</p>
                            {% if card.informationUrl is not null %}
                            <a class="card-link red" href="{{ card.informationUrl }}">Learn More</a>
                            {% else %}
                            <a class="invisible">Learn More</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="applying-commit one-on-one pb pt">
        <hr class="mobile-remove" data-aos="grow-e">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 applying-commit-title">
                    <h2>Applying to The COMMIT Foundation</h2>
                    <img class="mobile-remove" src="img/application-arrow-desktop.svg" alt="applying-arrow">
                </div>
                <div class="col applying-commit-steps">
                    <ol>
                        {% for step in entry.transitionAssitanceApplyingCommit %}
                        <li>
                            <h4>{{ step.stepTitle }}</h4>
                            <p>{{ step.stepDescription }}</p>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="apply-bottom one-on-one pt pb"
             style="background-image: linear-gradient(rgba(3,13,38,.7),rgba(3,13,38,.7)),linear-gradient(to left,#030d26,rgba(3,13,38,.75) 52%,#030d26),url(/img/commit-foundation_pursing-your-purpose_header.jpg);">
        <div class="align-items-center container d-flex flex-column">
            <img src="img/vertical-rule.svg" data-aos="fade-down">
            <h2>Apply to COMMIT</h2>
            <p>{{ entry.transitionApplyToCommitBody }}</p>
            <a href="https://pursueyourpurpose.commitfoundation.org/account/createAccount">Apply</a>
        </div>
    </section>

</div>

<section class="footer pb-sm-b">
    <div class="container desktop">
        <div class="secondary-wrapper">
            <div class="icon-wrapper">
                <a target="_blank" href="https://www.facebook.com/TheCommitFoundation"><img
                        src="{{ siteUrl }}/img/facebook-icon.svg"></a>
                <a target="_blank" href="https://twitter.com/COMMIT2Vets"><img
                        src="{{ siteUrl }}/img/twitter-icon.svg"></a>
                <a target="_blank" href="https://www.linkedin.com/company/the-commit-foundation/"><img
                        src="{{ siteUrl }}/img/linkedin-icon.svg"></a>
                <a target="_blank" href="https://vimeo.com/user12302242"><img
                        src="{{ siteUrl }}/img/vimeo-icon.svg"></a>
                <a target="_blank" href="https://www.instagram.com/thecommitfoundation/"><img
                        src="{{ siteUrl }}/img/instagram-icon.svg"></a>
                <a target="_blank" href="https://commitveteranvoices.buzzsprout.com/"><img
                        src="{{ siteUrl }}/img/CF_WebIcons_Podcast_Circle.svg"></a>
            </div>
            <a href="https://pursueyourpurpose.commitfoundation.org/account/createAccount"
               class="btn nav-apply-button left transparent mr-2">Apply</a>
            <a href="https://www.commitfoundation.org/donation" target="_blank"
               class="btn nav-apply-button">Donate</a>
        </div>
    </div>
    <div class="container desktop">
        <div class="main-wrapper">
            <div class="menu">
                <div class="contact">
                    <p>
                        The COMMIT Foundation<br>
                        280 West Kagy Blvd., Suite D 313<br>
                        Bozeman, MT 59715 US<br>
                    </p>
                    <p class="footer-link-p"><a class="footer-link" href="tel:5713061323">+1 571
                        306 1323</a></p>
                    <p class="footer-link-p"><a class="footer-link"
                                                href="mailto:info@commitfoundation.org">info@commitfoundation.org</a>
                    </p>
                    <p class="footer-link-p">CFC Number: 88085</p>
                </div>
                <div class="menu-list vets">
                    <h5>Veteran Programs</h5>
                    <ul>
                        <li>
                            <a href="/one-on-one">One-on-One Transition Assistance</a>
                        </li>
                        <li>
                            <a href="/digital-library">Digital Library</a>
                        </li>
                        <li>
                            <a href="/pursueyourpurpose">Pursue Your Purpose</a>
                        </li>
                        <li>
                            <a href="/transition-mentoring">Transition Mentoring Workshops</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list family">
                    <h5>Family Programs</h5>
                    <ul>
                        <li>
                            <a href="/spouse-program">Spouse Program</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list about">
                    <h5>About</h5>
                    <ul>
                        <li>
                            <a href="/mission">Mission</a>
                        </li>
                        <li>
                            <a href="/team">Our Team</a>
                        </li>
                        <li>
                            <a href="/financials">Financials</a>
                        </li>
                        <!-- <li>
                            <a href="/our-story">Our Story</a>
                        </li> -->
                    </ul>
                </div>
                <div class="menu-list support">
                    <h5>Support</h5>
                    <ul>
                        <li>
                            <a href="/our-mentors">Mentors</a>
                        </li>
                        <li>
                            <a href="/partners">Partners</a>
                        </li>
                        <li>
                            <a href="/donate">Donors</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list sub">
                    <ul>
                        <li>
                            <a href="/events">Events</a>
                        </li>
                        <li>
                            <a href="/news">News</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li class="nav-item b-right">
                            <a class="nav-link-b" href="/faq">FAQ</a>
                        </li>
                        <li>
                            <a href="https://pursueyourpurpose.commitfoundation.org">Login</a>
                        </li>
                        <li>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms-of-use">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container desktop">
        <div class="donation-certificates">
            <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                <img class="certificate-logo" src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4"/>
            </a>
            <a href="https://www.charitynavigator.org/ein/455219311" target="_blank">
                <img class="certificate-logo" src="/img/logos/charity-navigator-logo.png"/>
            </a>
            <a href="https://greatnonprofits.org/org/the-commit-foundation" target="_blank">
                <img class="certificate-logo great-nonprofit-logo" src="/img/logos/Great_Nonprofit_Badge.png"/>
            </a>
            <a href="/donate#CFC-container">
                <img class="certificate-logo" src="/img/CFC_logo_round.png"/>
            </a>
        </div>
    </div>


    <div class="container mobile">
        <div class="mobile-icon-wrapper">
            <a target="_blank" href="https://www.facebook.com/TheCommitFoundation"><img
                    src="{{ siteUrl }}/img/facebook-icon.svg"></a>
            <a target="_blank" href="https://twitter.com/COMMIT2Vets"><img
                    src="{{ siteUrl }}/img/twitter-icon.svg"></a>
            <a target="_blank" href="https://www.linkedin.com/company/the-commit-foundation/"><img
                    src="{{ siteUrl }}/img/linkedin-icon.svg"></a>
            <a target="_blank" href="https://vimeo.com/user12302242"><img src="/img/vimeo-icon.svg"></a>
            <a target="_blank" href="https://www.instagram.com/thecommitfoundation/"><img
                    src="{{ siteUrl }}/img/instagram-icon.svg"></a>
            <a target="_blank" href="https://commitveteranvoices.buzzsprout.com/"><img
                    src="{{ siteUrl }}/img/CF_WebIcons_Podcast_Circle.svg"></a>
        </div>

        <div class="contact">
            <p>
                The COMMIT Foundation<br>
                280 West Kagy Blvd., Suite D 313<br>
                Bozeman, MT 59715 US<br>
            </p>
            <p><a class="address" href="tel:5713061323">+1 571 306 1323</a></p>
            <p><a class="address" href="mailto:info@commitfoundation.org">info@commitfoundation.org</a></p>
            <p>CFC Number: 88085</p>
        </div>

        <ul id="accordion" class="accordion">
            <li>
                <div class="link">Veteran Programs<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/one-on-one">1:1 Assistance</a>
                    </li>
                    <li>
                        <a href="digital-library">Digital Library</a>
                    </li>
                    <li>
                        <a href="pursueyourpurpose">Pursue Your Purpose</a>
                    </li>
                    <li>
                        <a href="/transition-mentoring">Transition Mentoring</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="link">Family Programs<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/spouse-program">Spouse Program</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="just-link" href="/corporate-programs">Corporate Programs</a>
            </li>
            <li>
                <div class="link">About<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/mission">Mission</a>
                    </li>
                    <li>
                        <a href="/team">Our Team</a>
                    </li>
                    <li>
                        <a href="/financials">Financials</a>
                    </li>
                    <!-- <li>
                        <a href="/our-story">Our Story</a>
                    </li> -->
                </ul>
            </li>
            <li>
                <div class="link">Support Us<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/our-mentors">Mentors</a>
                    </li>
                    <li>
                        <a href="/partners">Partners</a>
                    </li>
                    <li>
                        <a href="/donate">Donors</a>
                    </li>
                    <!-- <li>
                        <a href="/2021-campaign">2021 Campaign</a>
                    </li> -->
                </ul>
            </li>
        </ul>

        <div class="mobile-sub-links">
            <a href="/events">Events</a>
            <a href="/news">News</a>
            <a href="/contact">Contact</a>
            <a href="/faq">FAQ</a>
            <a href="https://pursueyourpurpose.commitfoundation.org">Login</a>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/terms-of-use">Terms of Use</a>
        </div>

        <div class="donation-certificates">
            <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                <img class="certificate-logo" src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4"/>
            </a>
            <a href="https://www.charitynavigator.org/ein/455219311" target="_blank">
                <img class="certificate-logo" src="/img/logos/charity-navigator-logo.png"/>
            </a>
            <a href="https://greatnonprofits.org/org/the-commit-foundation" target="_blank">
                <img class="certificate-logo great-nonprofit-logo" src="/img/logos/Great_Nonprofit_Badge.png"/>
            </a>
            <a href="/donate#CFC-container">
                <img class="certificate-logo" src="/img/CFC_logo_round.png"/>
            </a>
        </div>
    </div>
</section>

<script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="{{ siteUrl }}/js/rellax.js"></script>
<script src="https://unpkg.com/tilt.js@1.1.19/dest/tilt.jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="{{ siteUrl }}js/main.js"></script>
<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

</body>

</html>