<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7RNYBDFP9T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-7RNYBDFP9T');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Spouse Program</title>
    <meta name="keywords"
          content="Veterans, service members, non-profit, transition, assistance, mentorship, professional, executive, coaching, support, donate, workshops, one to one, skills, corporate, america, united states, military, authentic, honest, transparent, civilian life, engage, insights, digital library, video content, resources, misconceptions, information gap, confidence gap, imagination gap, job, career, hiring">
    <meta name="description"
          content="The COMMIT spouse workshops are part of the COMMIT Family Transition programs. These workshops are offered to cohorts virtually over a three-month period. During this time, participants will meet with their cohort four times to engage in group coaching and informational sessions.  The participants will further discover the topic presented through a series of self-guided activities to complete.">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Spouse Program"/>
    <meta property="og:url" content="https://www.commitfoundation.org/spouse-program"/>
    <meta property="og:description"
          content="The COMMIT spouse workshops are part of the COMMIT Family Transition programs. These workshops are offered to cohorts virtually over a three-month period. During this time, participants will meet with their cohort four times to engage in group coaching and informational sessions.  The participants will further discover the topic presented through a series of self-guided activities to complete."/>
    <meta property="og:image" content="img/commit_og_share_.png"/>
    <meta property="og:type" content="website"/>

    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!--<script src='https://embed.idonate.com/idonate.js'></script>-->

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="https://use.typekit.net/cyn8pgk.css">
    <link title="timeline-styles" rel="stylesheet"
          href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
    <link rel="stylesheet" href="{{ siteUrl }}css/main-7eee4a133f.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css"/>

    <!-- Hotjar Tracking Code for https://www.commitfoundation.org/ -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {hjid: 2748073, hjsv: 6};
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>

<body id="page-top" ontouchstart="">

{% include "parts/_header.twig" %}

<div class="main">

    <header class="masthead one-on-one">
        <div class="fluid-container">
            <div class="row">
                <div class="container">
                    <div class="hero-copy">
                        <h1>{{ entry.spouseProgramBannerMessage }}</h1>
                        <p>{{ entry.spouseProgramBannerBody }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col">
                    <a href="https://pursueyourpurpose.commitfoundation.org/account/createAccount"
                       class="btn apply-button-wrapper" target="_blank">
                        <img class="icon" src="img/apply-icon.svg">
                        <div class="apply-button-copy">
                            Apply
                        </div>
                        <img class="apply-button-arrow" src="img/right-arrow.svg">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <section class="applying-commit one-on-one pb pt">
        <hr class="mobile-remove" data-aos="grow-e">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 applying-commit-title">
                    <h2>The goals of the spouse workshops are:</h2>
                    <img class="mobile-remove" src="img/application-arrow-desktop.svg" alt="applying-arrow">
                </div>
                <div class="col applying-commit-steps">
                    <ol>
                        {% for goal in entry.spouseProgramGoals %}
                        <li>
                            <h4>{{ goal.goalTitle }}</h4>
                            <p>{{ goal.goalDescription }}</p>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="overlay-with-cards spouse-program  pt no-para-mobile"
             style="background-image: linear-gradient(rgba(41,46,76,.75),rgba(41,46,76,.75)),linear-gradient(to left,#292e4c,rgba(41,46,76,.75) 53%,#292e4c),url(/img/commit-foundation_home_aims.jpg);">
        <div class="container">

            <div class="impact-copy">
                <h2>{{ entry.spouseProgramCardHeader }}</h2>
                <p>{{ entry.spouseProgramCardBody }}</p>
            </div>

        </div>
    </section>
    <section class="cards">
        <div class="container">
            <div class="card-wrapper">
                <div class="row">
                    <ul class="list">
                        <li id="underline" class="list-item">
                            <div class="list-content tilt" data-tilt="data-tilt">
                                <h4>Identity</h4>
                                <p>{{ entry.spouseProgramIdentityTile }}</p>
                            </div>
                        </li>
                        <li id="underline" class="list-item">
                            <div class="list-content tilt">
                                <h4>Values</h4>
                                <p>{{ entry.spouseProgramValuesTile }}</p>
                            </div>
                        </li>
                        <li id="underline" class="list-item">
                            <div class="list-content tilt">
                                <h4>Alignment</h4>
                                <p>{{ entry.spouseProgramAlignmentTile }}</p>
                            </div>
                        </li>
                        <li id="underline" class="list-item">
                            <div class="list-content tilt">
                                <h4>Telling Your Story</h4>
                                <p>{{ entry.spouseProgramTellingYourStoryTile }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial pb pt mobile-remove">
        <div class="container">
            <img class="quotation-icon" src="img/quotation-red.svg" alt="icon">
            <div class="quote-slider-controls d-none d-lg-block">
                <div id="web-dots">
                    {% for testimonial in entry.spouseProgramTestimonialsCarousel %}
                    <span class="web-dot"></span>
                    {% endfor %}
                </div>
                <div>
                    <svg height="50" width="50">
                        <circle id="testemonial-circle" class="progress-circle" cx="25" cy="25" r="20"
                                fill="freeze"/>
                    </svg>
                    <div class="background-circle">
                        <img id="testemonial-home-controls" class="testemonial-control-icon"
                             src="img/Pause_Commit_dark.png" alt="">
                    </div>
                </div>
            </div>
            <div id="testimonials">
                {% for testimonial in entry.spouseProgramTestimonialsCarousel %}
                <div
                        class="testimonial-item{% if loop.first %} testimonial-item-active{% endif %}">
                    <h4>{{ testimonial.testimonialQuote }}</h4>
                    <p>{{ testimonial.testimonialAuthor }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="quote-mobile-slider-controls d-md-block d-lg-none">
                <div id="mobile-dots">
                    {% for testimonial in entry.spouseProgramTestimonialsCarousel %}
                    <span class="mobile-dot"></span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="partners supporters pt pb">
        <div class="container">

            <div class="impact-copy">
                <h2>Partners</h2>
                <p>{{ entry.supportersBody }}</p>
            </div>

            <div class="partner-card-wrapper">
                <ul class="list">
                    {% for partner in partners.spouseProgramPartners %}
                    {% set logo = partner.logo.first() %}
                    <li class="list-item">
                        <div class="list-content">
                            <img class="logo img-fluid partner-page" src="{{ logo.url }}"/>
                            <a href="{{ partner.partnerUrl }}" class="d-none"></a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </section>
    <section class="upcoming-workshops spouse-events pt">
        <div class="container">
            <div class="impact-copy">
                <h2 class="display-5">Upcoming Workshops</h2>
                <p>{{ entry.upcomingWorkshopsBody }}</p>
            </div>
            <section class="events-b">
                <div class="row">
                    {% set allEvents =
                    craft.entries.section('events').search('isThisEventAWorkshop:1').search('isSpouseEvent:1').order('startDate
                    asc') %}
                    {% for entry in allEvents if entry.startDate > date() %}
                    {% set image = entry.eventImage.first() %}
                    {% if loop.index <= 3 %}
                    <div class="col-md-4">
                        <div class="card-wrapper">
                            <div id="underline" class="card spouse-card">
                                <div class="card-thumb" style="background-image: url({{ image.url }})"></div>
                                <div class="card-body">
                                    <div class="calendar-icon">
                                        <img src="img/calendar-icon.svg">
                                    </div>
                                    <h4 class="card-title">{{ entry.location }}</h4>
                                    <p class="card-date meta">{{ entry.startDate.format('F')|slice(0, 3) }}
                                        {{entry.startDate.format('j, Y') }} — {{ entry.endDate.format('F')|slice(0, 3)
                                        }} {{entry.endDate.format('j, Y') }}</p>
                                    <p class="card-copy">{{ entry.eventShortDescription|length > 60 ?
                                        entry.eventShortDescription|slice(0, 60) ~ '...' : entry.eventShortDescription
                                        }}</p>
                                    {% if entry.customLink %}
                                    <div class="row card-link-continer">
                                        <div class="col">
                                            <a class="card-custom-link red card-custom-link-target"
                                               href="{{entry.linkTarget}}"
                                               data-new-window="{{entry.openLinkInNewWindow}}">{{entry.linkText}}</a>
                                        </div>
                                        <div class="col">
                                            <a class="card-custom-link red"
                                               href="/event-details?id={{ entry.id }}&title={{ entry.title }}">Learn
                                                More</a>
                                        </div>
                                    </div>
                                    {% else %}
                                    <a class="card-link red"
                                       href="/event-details?id={{ entry.id }}&title={{ entry.title }}">Learn More</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% if allEvents|length == 0 %}
                <div class="row spouse-events-placeholder">
                    <p>There are no workshops currently scheduled.</p>
                </div>
                {% endif %}
            </section>
        </div>
    </section>
    <section class="spouse-events-bottom"
             style="background-image: linear-gradient(to left,#292e4c,rgba(41,46,76,.75) 53%,#292e4c),linear-gradient(rgba(41,46,76,.75),rgba(41,46,76,.75)),url(/img/commit-foundation_transition-mentoring-workshops_map.png);">

    </section>
</div>

<section class="footer pb-sm-b">
    <div class="container desktop">
        <div class="secondary-wrapper">
            <div class="icon-wrapper">
                <a target="_blank" href="https://www.facebook.com/TheCommitFoundation"><img
                        src="{{ siteUrl }}/img/facebook-icon.svg"></a>
                <a target="_blank" href="https://twitter.com/COMMIT2Vets"><img
                        src="{{ siteUrl }}/img/twitter-icon.svg"></a>
                <a target="_blank" href="https://www.linkedin.com/company/the-commit-foundation/"><img
                        src="{{ siteUrl }}/img/linkedin-icon.svg"></a>
                <a target="_blank" href="https://vimeo.com/user12302242"><img
                        src="{{ siteUrl }}/img/vimeo-icon.svg"></a>
                <a target="_blank" href="https://www.instagram.com/thecommitfoundation/"><img
                        src="{{ siteUrl }}/img/instagram-icon.svg"></a>
                <a target="_blank" href="https://commitveteranvoices.buzzsprout.com/"><img
                        src="{{ siteUrl }}/img/CF_WebIcons_Podcast_Circle.svg"></a>
            </div>
            <a href="https://pursueyourpurpose.commitfoundation.org/account/createAccount"
               class="btn nav-apply-button left transparent mr-2">Apply</a>
            <a href="https://www.commitfoundation.org/donation" target="_blank"
               class="btn nav-apply-button">Donate</a>
        </div>
    </div>
    <div class="container desktop">
        <div class="main-wrapper">
            <div class="menu">
                <div class="contact">
                    <p>
                        The COMMIT Foundation<br>
                        280 West Kagy Blvd., Suite D 313<br>
                        Bozeman, MT 59715 US<br>
                    </p>
                    <p class="footer-link-p"><a class="footer-link" href="tel:5713061323">+1 571
                        306 1323</a></p>
                    <p class="footer-link-p"><a class="footer-link"
                                                href="mailto:info@commitfoundation.org">info@commitfoundation.org</a>
                    </p>
                    <p class="footer-link-p">CFC Number: 88085</p>
                </div>
                <div class="menu-list vets">
                    <h5>Veteran Programs</h5>
                    <ul>
                        <li>
                            <a href="/one-on-one">One-on-One Transition Assistance</a>
                        </li>
                        <li>
                            <a href="/digital-library">Digital Library</a>
                        </li>
                        <li>
                            <a href="/pursueyourpurpose">Pursue Your Purpose</a>
                        </li>
                        <li>
                            <a href="/transition-mentoring">Transition Mentoring Workshops</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list family">
                    <h5>Family Programs</h5>
                    <ul>
                        <li>
                            <a href="/spouse-program">Spouse Program</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list about">
                    <h5>About</h5>
                    <ul>
                        <li>
                            <a href="/mission">Mission</a>
                        </li>
                        <li>
                            <a href="/team">Our Team</a>
                        </li>
                        <li>
                            <a href="/financials">Financials</a>
                        </li>
                        <!-- <li>
                            <a href="/our-story">Our Story</a>
                        </li> -->
                    </ul>
                </div>
                <div class="menu-list support">
                    <h5>Support</h5>
                    <ul>
                        <li>
                            <a href="/our-mentors">Mentors</a>
                        </li>
                        <li>
                            <a href="/partners">Partners</a>
                        </li>
                        <li>
                            <a href="/donate">Donors</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-list sub">
                    <ul>
                        <li>
                            <a href="/events">Events</a>
                        </li>
                        <li>
                            <a href="/news">News</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li class="nav-item b-right">
                            <a class="nav-link-b" href="/faq">FAQ</a>
                        </li>
                        <li>
                            <a href="https://pursueyourpurpose.commitfoundation.org">Login</a>
                        </li>
                        <li>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms-of-use">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container desktop">
        <div class="donation-certificates">
            <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                <img class="certificate-logo" src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4"/>
            </a>
            <a href="https://www.charitynavigator.org/ein/455219311" target="_blank">
                <img class="certificate-logo" src="/img/logos/charity-navigator-logo.png"/>
            </a>
            <a href="https://greatnonprofits.org/org/the-commit-foundation" target="_blank">
                <img class="certificate-logo great-nonprofit-logo" src="/img/logos/Great_Nonprofit_Badge.png"/>
            </a>
            <a href="/donate#CFC-container">
                <img class="certificate-logo" src="/img/CFC_logo_round.png"/>
            </a>
        </div>
    </div>


    <div class="container mobile">
        <div class="mobile-icon-wrapper">
            <a target="_blank" href="https://www.facebook.com/TheCommitFoundation"><img
                    src="{{ siteUrl }}/img/facebook-icon.svg"></a>
            <a target="_blank" href="https://twitter.com/COMMIT2Vets"><img
                    src="{{ siteUrl }}/img/twitter-icon.svg"></a>
            <a target="_blank" href="https://www.linkedin.com/company/the-commit-foundation/"><img
                    src="{{ siteUrl }}/img/linkedin-icon.svg"></a>
            <a target="_blank" href="https://vimeo.com/user12302242"><img src="/img/vimeo-icon.svg"></a>
            <a target="_blank" href="https://www.instagram.com/thecommitfoundation/"><img
                    src="{{ siteUrl }}/img/instagram-icon.svg"></a>
            <a target="_blank" href="https://commitveteranvoices.buzzsprout.com/"><img
                    src="{{ siteUrl }}/img/CF_WebIcons_Podcast_Circle.svg"></a>
        </div>

        <div class="contact">
            <p>
                The COMMIT Foundation<br>
                280 West Kagy Blvd., Suite D 313<br>
                Bozeman, MT 59715 US<br>
            </p>
            <p><a class="address" href="tel:5713061323">+1 571 306 1323</a></p>
            <p><a class="address" href="mailto:info@commitfoundation.org">info@commitfoundation.org</a></p>
            <p>CFC Number: 88085</p>
        </div>

        <ul id="accordion" class="accordion">
            <li>
                <div class="link">Veteran Programs<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/one-on-one">1:1 Assistance</a>
                    </li>
                    <li>
                        <a href="digital-library">Digital Library</a>
                    </li>
                    <li>
                        <a href="pursueyourpurpose">Pursue Your Purpose</a>
                    </li>
                    <li>
                        <a href="/transition-mentoring">Transition Mentoring</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="link">Family Programs<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/spouse-program">Spouse Program</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="just-link" href="/corporate-programs">Corporate Programs</a>
            </li>
            <li>
                <div class="link">About<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/mission">Mission</a>
                    </li>
                    <li>
                        <a href="/team">Our Team</a>
                    </li>
                    <li>
                        <a href="/financials">Financials</a>
                    </li>
                    <!-- <li>
                        <a href="/our-story">Our Story</a>
                    </li> -->
                </ul>
            </li>
            <li>
                <div class="link">Support Us<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="/our-mentors">Mentors</a>
                    </li>
                    <li>
                        <a href="/partners">Partners</a>
                    </li>
                    <li>
                        <a href="/donate">Donors</a>
                    </li>
                    <!-- <li>
                        <a href="/2021-campaign">2021 Campaign</a>
                    </li> -->
                </ul>
            </li>
        </ul>

        <div class="mobile-sub-links">
            <a href="/events">Events</a>
            <a href="/news">News</a>
            <a href="/contact">Contact</a>
            <a href="/faq">FAQ</a>
            <a href="https://pursueyourpurpose.commitfoundation.org">Login</a>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/terms-of-use">Terms of Use</a>
        </div>

        <div class="donation-certificates">
            <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                <img class="certificate-logo" src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4"/>
            </a>
            <a href="https://www.charitynavigator.org/ein/455219311" target="_blank">
                <img class="certificate-logo" src="/img/logos/charity-navigator-logo.png"/>
            </a>
            <a href="https://greatnonprofits.org/org/the-commit-foundation" target="_blank">
                <img class="certificate-logo great-nonprofit-logo" src="/img/logos/Great_Nonprofit_Badge.png"/>
            </a>
            <a href="/donate#CFC-container">
                <img class="certificate-logo" src="/img/CFC_logo_round.png"/>
            </a>
        </div>
    </div>
</section>

<script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="{{ siteUrl }}/js/rellax.js"></script>
<script src="https://unpkg.com/tilt.js@1.1.19/dest/tilt.jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="{{ siteUrl }}js/main.js"></script>
<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

</body>

</html>