<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133170152-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-133170152-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Terms and Use</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
        <meta name="robots" content="index, follow">
        <meta property="og:title" content="Terms and Use" />
    <meta property="og:url" content="https://www.commitfoundation.org/terms-of-use" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website" />
    
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="https://use.typekit.net/cyn8pgk.css">
    <link rel="stylesheet" href="{{ siteUrl }}css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css" />

</head>

<body id="page-top" ontouchstart="">

    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">
                <img class="top-logo" src="{{ siteUrl }}/img/commit-logo.svg">
                <img class="top-logo-2"
                    src="{{ siteUrl }}/img/commit-logo-2.svg">
            </a>

            <div class="mobile-menu">
                <div class="aa-hamburger-menu collapsed" id="hamburgerMenu" onclick="toggleMenu()">
                    <span class="aa-icon-bar"></span>
                    <span class="aa-icon-bar"></span>
                    <span class="aa-icon-bar"></span>
                </div>

                <div class="aa-mobile-overlay">

                    <div class="menu-wrapper">

                        <ul class="rwd-menu">
                            <li>

                                <a class="forward-chev" href="#">Veteran Programs</a>
                                <ul class="rwd-submenu">

                                    <li id="back">
                                        <a href="#" id="back-btn" class="back-btn">Back</a>
                                    </li>
                                    <li class="flex">
                                        <div class="title">Veteran Programs</div>
                                        <a href="/one-on-one">One-on-one Transition Assistance</a>
                                        <a href="/digital-library">Digital Library</a>
                                        <a href="/pursueyourpurpose">Pursue Your Purpose</a>
                                        <a href="/transition-mentoring">Transition Mentoring
                                            Workshops</a>
                                    </li>
                                    <div class="cta veteran-margin">
                                        <a class="cta-link"
                                            href="https://pursueyourpurpose.commitfoundation.org">Login</a>
                                        <a class="cta-link" target="_blank"
                                            href="https://give.commitfoundation.org">Donate</a>
                                        <a class="cta-link" href="/contact">Contact</a>
                                    </div>

                                </ul>
                            </li>

                            <li>
                                <a class="forward-chev" href="/corporate-education">Corporate
                                    Education</a>
                            </li>

                            <li>

                                <a class="forward-chev" href="#">About</a>
                                <ul class="rwd-submenu">

                                    <li id="back">
                                        <a href="#" id="back-btn" class="back-btn">Back</a>
                                    </li>
                                    <li class="flex">
                                        <div class="title">About</div>
                                        <a href="/mission">Mission</a>
                                        <a href="/team">Our Team</a>
                                    </li>
                                    <div class="cta about-margin">
                                        <a class="cta-link"
                                            href="https://pursueyourpurpose.commitfoundation.org">Login</a>
                                        <a class="cta-link" target="_blank"
                                            href="https://give.commitfoundation.org">Donate</a>
                                        <a class="cta-link" href="/contact">Contact</a>
                                    </div>

                                </ul>
                            </li>

                            <li>

                                <a class="forward-chev" href="#">Support Us</a>
                                <ul class="rwd-submenu">

                                    <li id="back">
                                        <a href="#" id="back-btn" class="back-btn">Back</a>
                                    </li>
                                    <li class="flex">
                                        <div class="title">Support Us</div>
                                        <a href="/our-mentors">Mentors</a>
                                        <a href="/partners">Partners</a>
                                        <a href="/donate">Donors</a>
                                    </li>
                                    <div class="cta support-margin">
                                        <a class="cta-link"
                                            href="https://pursueyourpurpose.commitfoundation.org">Login</a>
                                        <a class="cta-link" target="_blank"
                                            href="https://give.commitfoundation.org">Donate</a>
                                        <a class="cta-link" href="/contact">Contact</a>
                                    </div>

                                </ul>
                            </li>

                            <li>
                                <a class="forward-chev"
                                    href="https://pursueyourpurpose.commitfoundation.org/account/createAccount">Apply</a>
                            </li>

                            <div class="cta">
                                <a class="cta-link"
                                    href="https://pursueyourpurpose.commitfoundation.org">Login</a>
                                <a class="cta-link" target="_blank"
                                    href="https://give.commitfoundation.org">Donate</a>
                                <a class="cta-link" href="/contact">Contact</a>
                            </div>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="secondary-menu">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item b-right">
                        <a class="nav-link-b" href="/events">Events</a>
                    </li>
                    <li class="nav-item b-right">
                        <a class="nav-link-b" href="/news">News</a>
                    </li>
                    <li class="nav-item b-right">
                        <a class="nav-link-b" href="/reports">Reports</a>
                    </li>
                    <li class="nav-item b-right">
                        <a class="nav-link-b" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item b-right">
                        <a class="nav-link-b" target="_blank"
                            href="https://commitfoundation.freshdesk.com/support/home">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-b red"
                            href="https://pursueyourpurpose.commitfoundation.org">Login</a>
                    </li>
                </ul>
            </div>

            <div class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a id="dropdownMenuLink" class="nav-link" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Veteran Programs
                        </a>
                        <div id="delay-programs" class="dropdown-box veterans"
                            aria-labelledby="dropdownMenuLink">
                            <div class="box-wrapper">
                                <a class="dropdown-item" href="/one-on-one">
                                    <div class="b-bottom">
                                        1:1 Assistance
                                    </div>
                                </a>
                                <a class="dropdown-item padding" href="/digital-library">
                                    <div class="b-bottom">
                                        Digital Library
                                    </div>
                                </a>
                                <a class="dropdown-item padding" href="/pursueyourpurpose">
                                    <div class="b-bottom">
                                        Pursue Your Purpose
                                    </div>
                                </a>
                                <a class="dropdown-item" href="/transition-mentoring">
                                    <div class="bottom">
                                        Workshops
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a id="" class="nav-link js-scroll-trigger"
                            href="/corporate-education">Corporate Education</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="dropdownMenuLink" class="nav-link" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div id="delay-about" class="dropdown-box about"
                            aria-labelledby="dropdownMenuLink">
                            <div class="box-wrapper">
                                <a class="dropdown-item" href="/mission">
                                    <div class="b-bottom">
                                        Mission
                                    </div>
                                </a>
                                <a class="dropdown-item" href="/team">
                                    <div class="bottom">
                                        Our Team
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="dropdownMenuLink" class="nav-link" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Support Us
                        </a>
                        <div id="delay-support" class="dropdown-box support"
                            aria-labelledby="dropdownMenuLink">
                            <div class="box-wrapper">
                                <a class="dropdown-item" href="/our-mentors">
                                    <div class="b-bottom">
                                        Mentors
                                    </div>
                                </a>
                                <a class="dropdown-item" href="/partners">
                                    <div class="b-bottom">
                                        Partners
                                    </div>
                                </a>
                                <a class="dropdown-item" href="/donate">
                                    <div class="bottom">
                                        Donors
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <a href="https://pursueyourpurpose.commitfoundation.org/account/createAccount"
                        class="btn nav-apply-button transparent">Apply</a>
                    <a href="https://give.commitfoundation.org"
                        target="_blank" class="btn nav-apply-button ml-2">Donate</a>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main">
        
<header class="masthead-b news-article">
  <div class="fluid-container">
    <div class="container"></div>
  </div>
</header>

<section class="news-article-body">
  <div class="container">
    <div class="news-wrapper">
      <div class="row title">
        <div class="col-lg-12 list-content">
          <h2>Terms of Use</h2>
        </div>
      </div>
      <div class="row body">
        <div class="col">
          <hr data-aos="grow-d" />
          <div class="paragraphs">
            {{ entry.termsOfUse }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    </div>

    <section class="footer pt-sm pb-sm-b">
        <div class="container desktop">
            <div class="main-wrapper">
                <div class="menu">
                    <div class="contact">
                        <p>
                            The COMMIT Foundation<br>
                            280 West Kagy Blvd., Suite D 313<br>
                            Bozeman, MT 59715 US<br>
                        </p>
                        <p class="footer-link-p"><a class="footer-link" href="tel:5713061323">+1 571
                                306 1323</a></p>
                        <p class="footer-link-p"><a class="footer-link"
                                href="mailto:info@commitfoundation.org">info@commitfoundation.org</a>
                        </p>
                        <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                            <img id="display-guidstar-desktop" class="footer-guidstar-logo"
                                src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4" />
                        </a>
                    </div>
                    <div class="menu-list vets">
                        <h5>Veteran Programs</h5>
                        <ul>
                            <li>
                                <a href="/one-on-one">One-on-One Transition Assistance</a>
                            </li>
                            <li>
                                <a href="/digital-library">Digital Library</a>
                            </li>
                            <li>
                                <a href="/pursueyourpurpose">Pursue Your Purpose</a>
                            </li>
                            <li>
                                <a href="/transition-mentoring">Transition Mentoring Workshops</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-list corp">
                        <h5>
                            <a href="/corporate-education">Corporate Education</a>
                        </h5>
                    </div>
                    <div class="menu-list about">
                        <h5>About</h5>
                        <ul>
                            <li>
                                <a href="/mission">Mission</a>
                            </li>
                            <li>
                                <a href="/team">Our Team</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-list support">
                        <h5>Support</h5>
                        <ul>
                            <li>
                                <a href="/our-mentors">Mentors</a>
                            </li>
                            <li>
                                <a href="/partners">Partners</a>
                            </li>
                            <li>
                                <a href="/donate">Donors</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-list sub">
                        <ul>
                            <li>
                                <a href="/events">Events</a>
                            </li>
                            <li>
                                <a href="/news">News</a>
                            </li>
                            <li>
                                <a href="/reports">Reports</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                            <li class="nav-item b-right">
                                <a class="nav-link-b" target="_blank"
                                    href="https://commitfoundation.freshdesk.com/support/home">FAQ</a>
                            </li>
                            <li>
                                <a href="https://pursueyourpurpose.commitfoundation.org">Login</a>
                            </li>
                            <li>
                                <a href="/privacy-policy">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/terms-of-use">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container desktop">
            <div class="secondary-wrapper">
                <div class="icon-wrapper">
                    <a target="_blank" href="https://www.facebook.com/TheCommitFoundation"><img
                            src="{{ siteUrl }}/img/facebook-icon.svg"></a>
                    <a target="_blank" href="https://twitter.com/COMMIT2Vets"><img
                            src="{{ siteUrl }}/img/twitter-icon.svg"></a>
                    <a target="_blank"
                        href="https://www.linkedin.com/company/the-commit-foundation/"><img
                            src="{{ siteUrl }}/img/linkedin-icon.svg"></a>
                    <a target="_blank" href="https://vimeo.com/user12302242"><img
                            src="{{ siteUrl }}/img/vimeo-icon.svg"></a>
                    <a target="_blank" href="https://www.instagram.com/thecommitfoundation/"><img
                            src="{{ siteUrl }}/img/instagram-icon.svg"></a>
                </div>
                <a href="https://pursueyourpurpose.commitfoundation.org/account/createAccount"
                    class="btn nav-apply-button left transparent mr-2">Apply</a>
                <a href="https://give.commitfoundation.org" target="_blank"
                    class="btn nav-apply-button">Donate</a>
            </div>
        </div>



        <div class="container mobile">
            <div class="contact">
                <p>
                    The COMMIT Foundation<br>
                    280 West Kagy Blvd., Suite D 313<br>
                    Bozeman, MT 59715 US<br>
                </p>
                <p><a class="address" href="tel:5713061323">+1 571 306 1323</a></p>
                <p><a class="address"
                        href="mailto:info@commitfoundation.org">info@commitfoundation.org</a></p>
                <a href="https://www.guidestar.org/profile/45-5219311" target="_blank">
                    <img id="display-guidstar-mobile" class="footer-guidstar-logo"
                        src="https://widgets.guidestar.org/gximage2?o=9209035&l=v4" />
                </a>
            </div>

            <ul id="accordion" class="accordion">
                <li>
                    <div class="link">Veteran Programs<i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="submenu">
                        <li>
                            <a href="/one-on-one">1:1 Assistance</a>
                        </li>
                        <li>
                            <a href="digital-library">Digital Library</a>
                        </li>
                        <li>
                            <a href="pursueyourpurpose">Pursue Your Purpose</a>
                        </li>
                        <li>
                            <a href="/transition-mentoring">Transition Mentoring</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="just-link" href="/corporate-education">Corporate Education</a>
                </li>
                <li>
                    <div class="link">About<i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="submenu">
                        <li>
                            <a href="/mission">Mission</a>
                        </li>
                        <li>
                            <a href="/team">Our Team</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="link">Support Us<i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="submenu">
                        <li>
                            <a href="/our-mentors">Mentors</a>
                        </li>
                        <li>
                            <a href="/partners">Partners</a>
                        </li>
                        <li>
                            <a href="/donate">Donors</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="mobile-sub-links">
                <a href="/events">Events</a>
                <a href="/news">News</a>
                <a href="/reports">Reports</a>
                <a href="/contact">Contact</a>
                <a target="_blank"
                    href="https://commitfoundation.freshdesk.com/support/home">FAQ</a>
                <a href="https://pursueyourpurpose.commitfoundation.org">Login</a>
                <a href="/privacy-policy">Privacy Policy</a>
                <a href="/terms-of-use">Terms of Use</a>
            </div>

            <div class="mobile-icon-wrapper">
                <a target="_blank" href="https://www.facebook.com/TheCommitFoundation"><img
                        src="{{ siteUrl }}/img/facebook-icon.svg"></a>
                <a target="_blank" href="https://twitter.com/COMMIT2Vets"><img
                        src="{{ siteUrl }}/img/twitter-icon.svg"></a>
                <a target="_blank"
                    href="https://www.linkedin.com/company/the-commit-foundation/"><img
                        src="{{ siteUrl }}/img/linkedin-icon.svg"></a>
                <a target="_blank" href="https://vimeo.com/user12302242"><img
                        src="/img/vimeo-icon.svg"></a>
                <a target="_blank" href="https://www.instagram.com/thecommitfoundation/"><img
                        src="{{ siteUrl }}/img/instagram-icon.svg"></a>

            </div>

        </div>
    </section>

    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="{{ siteUrl }}/js/rellax.js"></script>
    <script src="https://unpkg.com/tilt.js@1.1.19/dest/tilt.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script src="{{ siteUrl }}js/main.js"></script>

</body>

</html>
